.card {
  width: 225px;
  height: 225px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0;

  &:hover {
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.24);
    transform: scale(1.03);

    .favoriteBtn {
      opacity: 1;
    }
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.favoriteBtn {
  position: absolute;
  bottom: 25px;
  right: 20px;
  width: 40px;
  height: auto;
  border: none;
  background: transparent;
  z-index: 100;
  background-color: red;

  opacity: 0;
  transition: opacity 0.2s ease;

  background-image: url('../../assets/images/heartBefore.png');
  background-repeat: no-repeat;

  :global(.card):hover {
    opacity: 1;
  }

  &.activeFavoriteBtn {
    background-image: url('@/assets/images/heartAfter.png');
    opacity: 1 !important;
  }
}